extends base

block content1

  #layout.pure-g
    .pure-u-1.pure-u-md-3-4: .content_container
      block content
    if theme.widgets_on_small_screens
      .pure-u-1.pure-u-md-1-4: #sidebar
        each item in theme.widgets
          != partial('_widget/' + item + '.jade')
    else
      .pure-u-1-4.hidden_mid_and_down: #sidebar
        each item in theme.widgets
          != partial('_widget/' + item + '.jade')
    .pure-u-1.pure-u-md-3-4
      != partial('_partial/footer.jade')

  //- include _partial/totop
  //- include _partial/after_footer
