  {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify}}
  {{ $iconfont := resources.Get "font/iconfont.css" }}
  {{ $searchStyle := resources.Get "css/search.css" }}
  <link rel="stylesheet" href="{{ $iconfont.RelPermalink }}">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  <link rel="stylesheet" href="{{ $searchStyle.RelPermalink }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
